header{
    color: white;
    border-color: black;
   background-color: black;
   
}
.gradiente-tit{
    
    font-size: 25px;
    text-shadow: -2px -2px 3px black, 2px 2px 3px black,2px -2px 3px black, 2px 2px 3px black, -2px 2px 2px black;
    background-image: radial-gradient( red, rgb(128, 0, 11));
    text-decoration:solid;
    Line-height: 50px;
    gap:20px ;
    border-color: black;
   
   
    text-align: center;
    
}
.buscador{
    text-align: center;
}
header nav{
    align-items: center;
    text-align: center;
}
.input_tit{
   
    border-radius: 5px;
    width: 350px;
  gap: 10px;
  font-size: 17px;

}

header button{
border-radius: 5px;
border:  1px solid black;
background-color: brown;
color: black;
font-size: 17px;
}
header button:hover{
    border-radius: 5px;
    font-size: 20px;
    border:  1px solid rgb(126, 68, 68);
    background-color:rgb(209, 112, 112);
    color: black;
    }



header  ul{
    list-style: none;
    margin-left: 10px;
}
.header_textoe_iniciar_sesion{
    font-size: medium;
    list-style: none;
    display: flex;
    text-decoration: none;
    color: whitesmoke;
    padding-left:  20px;
  margin: 0px 0px 0px 10px; /*top, right, bottom and left */
    padding: 0px 20px 0px 20px; /*top, right, bottom and left */
   /* margin: 0px; /*top, right, bottom and left */

}
.header_textoe_iniciar_sesion div {
    width: 160px;
    /*/box-shadow: 2px 2px 10px rgba(227, 212, 212, 0.3);*/
    border-radius: 2px;
    right: 10px;
    margin: 0px 0px 0px 10px; /*top, right, bottom and left */
    padding-top: 5px;
    background-image: radial-gradient( black, rgb(21, 21, 21));
    
    
}
.rec_in_sesion { height: 40px;}
.header_textoe_iniciar_sesion div ul {
    width: 160px;
    margin: 0px 0px 0px 10px; /*top, right, bottom and left */
   padding-left:  10px;
   

}
.header_textoe_iniciar_sesion a{ 
    font-size: 10px;
    text-decoration: none;
    color: whitesmoke;
    
    
}
.header_textoe_iniciar_sesion a:hover{ 
    font-size: 15px;
    text-decoration:underline;
    color: white;
    text-align: center;
}
.seccion_datos{
   
    background-color: black;
    padding: 2px 2px 2px 2px ;
}
.seccion_datos div{
    background-image: radial-gradient(black, rgb(32, 28, 28));
border-radius: 5px;
color: whitesmoke;
}
.seccion1
{
background-color: black;

padding: 20px 10px 10px 0px; /*top, right, bottom and left */
display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
/*****************************A partir de esta sección esta todo lo relacionado a los botones del la primera seccion main ***********************/
.seccion1 button{
    margin: 0px 20px 0px 20px;
    width: 210px;
    height:  210px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
 
}
.seccion1 button:hover{
    width: 220px;
    height: 220px;
    
}

.img_btn{
    width: 80px;
    height: 80px;
    padding-top: 10px;
    
}
.img_btn:hover{
    width: 120px;
    height: 120px;

    
}

.btn_agre_emp
{
    background-image: radial-gradient(grey, green);
   /* border-radius: 5px;*/
    border-color: gray;
   
}
.btn_lamparas
{
    background-image: radial-gradient(grey, yellow);
   /* border-radius: 5px;*/
    border-color: gray;
   
}
.btn_baños
{
    background-image: radial-gradient(blue, white);
   /* border-radius: 5px;*/
   border-color: gray;
   
}
.btn_botiquin
{
    background-image: radial-gradient(grey, red);
   /* border-radius: 5px;*/
   border-color: gray;
   
}
/*****************************A partir de esta sección finaliza todo lo relacionado a los botones del la primera seccion main ***********************/

footer{
    /*width: 1024px;*/
     background-color: black;
      color:white;
      padding: 40px 0px;
      font-size: 15px;
 }
 .contenedorfooter{
    
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    padding: 40px; 
    align-items: top; 
   
}
footer ul{
    list-style: none;
}
.contenedorfooter a{
    text-decoration: none;
    color: whitesmoke;
}
.contenedorfooter a:hover{
    text-decoration:underline;
    color:skyblue;
}
.footer-img{

    width: 400px;
    height: 250px;
}
.redes1{
    display: flex;
    flex-direction: column; 
    align-content: center;
}
.redes2{
    padding-top: 30px;
    padding-left: 51px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    
}
.espacio{
    width: 50px;
    height: 50px;
}
.bi-instagram{
    width: 20px;
    height: 20px;
    padding:  10px;
    font-size: 20px;
    border-radius: 50%;
   background-color:#222326;  
   color: white;
}
.bi-instagram:hover{
    color: rgb(128, 0, 79);
    scale: 1.1;
    cursor: pointer;
    
}

.bi-twitter{
    padding-top: 20px;
    width: 20px;
    height: 20px;
    padding:  10px;
    font-size: 20px;
   
    border-radius: 50%;
   background-color:#222326;  
   color: white;
}
.bi-twitter:hover{
    color: #1D9BF0;
    scale: 1.1;
    cursor: pointer;

}
.bi-facebook{
    width: 20px;
    height: 20px;
    padding:  10px;
    font-size: 20px;
   
    border-radius: 50%;
   background-color:#222326;  
   color: white;

}
.bi-facebook:hover{
    color: rgb(22, 19, 152);
}

/******************************A PARTIR DE AQUI EMPIEZA LO DE MEDIA SCREEN***********************************************/
@media screen and (max-width: 986px) {
    .seccion1{
        grid-template-columns: repeat(3,1fr);
        gap:30px;
    }
    .contenedorfooter{
        grid-template-columns: repeat(2,1fr);
        gap:30px;
    }
   
}
@media screen and (max-width: 740px) {
    .seccion1{
        grid-template-columns: repeat(2,1fr);
        gap:30px;
    }
    .contenedorfooter{
        grid-template-columns:  1fr;
        gap:30px;
    }
    .footer-img{
        width: 350px;
        height: 230px;
    }
   
}
@media screen and (max-width: 527px) {
    .seccion1{
        grid-template-columns: 1fr;
        gap:10px;
    }
    .contenedorfooter{
        grid-template-columns:  1fr;
        gap:10px;
    }
    .footer-img{
        width: 350px;
        height: 230px;
    }
   
}